@import url(https://fonts.googleapis.com/css?family=Amethysta:regular);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Amethysta';
    overflow: hidden;
    height: 100vh;
    margin: 0;
    /* background-color: #e7e7e7c3;
    color: #4a4a4a; */
    font-size: 18px;
}

:root {
    --var-bgcolor: #e7e7e7c3;
    --var-fontcolor: #4a4a4a;
}

[dark] {
    --var-bgcolor: #4f4e4e;
    --var-fontcolor: #f6f6f6c3;
}

body {
    background-color: var(--var-bgcolor);
    color: var(--var-fontcolor);
}

.body-fantasy {
    background-image: url(../img/bg_fantasy.jpg);
    color: blueviolet;
}

.menu-fantasy {
    margin: 24px;
    display: flex;
    justify-content: space-around;
    background-color: #06f5d544;
    border-radius: 16px;
}

.modal-wrapper-fantasy {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 35%;
    max-height: calc(70vh - 40px);
    max-width: 460px;
    width: calc(100vw - 40px);
    background-color: #edfbf0;
    border: none;
    border-radius: 12px;
    box-shadow: 0 1px 9px rgba(51, 53, 128, 0.816);
}


.menu-dark {
    margin: 24px;
    display: flex;
    justify-content: space-around;
    background-color: #9c9c9c;
    border-radius: 16px;
}

button {
    font-family: 'playfair display';
}

.menu {
    margin: 24px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 16px;
}

.span__level {
    color: rgb(27, 101, 198);
    opacity: 0.7;
}

h1 {
    font-size: 1.6rem;
    font-family: 'Playfair Display';
    font-weight: 800;
    padding: 12px 0 28px 0;
    line-height: 24px;
    color: #4a4a4a;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.balls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 16px;
}

.balls-item {
    border: 3px solid rgb(72, 72, 72);
    border-radius: 10px;
    margin: 2px;
    align-self: center;
    justify-content: center;
}

.balls:hover {
    background-color: rgb(230, 207, 196, 0.61);
    align-items: center;
}

.dropdown {
    display: flex;
    flex-direction: column;
    width: 230px;
    position: absolute;
    right: 0;
    padding: 8px;
    z-index: 15;
    visibility: hidden;
}

.dropdown-list {
    padding: 16px;
    background-color: rgb(221, 215, 212);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.55);
    border-radius: 14px;
}

.dropdown__menu {
    background-color: transparent;
    padding: 16px;
    color: #4a4a4a;
    display: flex;
    gap: 6px;
    align-items: center;
    border: none;
    letter-spacing: 0.03rem;
    font-weight: 600;
    width: 100%;
}

.dropdown__menu:hover {
    background-color: rgb(224, 221, 221);
    border-radius: 16px;
    width: 180px;
    cursor: pointer;
}

.container {
    margin-top: 8%;
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 28px;
}

.formula {
    width: 30%;
    height: 100%;
}

.formula:hover {
    border-top: 1px solid #336f975d;
    transition: all ease 0.3;
}

.operator {
    font-size: 44px;
    width: 20%;
}

.operator:hover {
    border-top: 1px solid #4695c95f;
    transition: all ease 0.3s;
}

.modal {
    position: fixed;
    top: 32%;
    right: 32%;
    bottom: 30%;
    left: 32%;
    z-index: 10;
    font-weight: 600;
    letter-spacing: 0.02rem;
    color: rgba(5, 27, 86, 0.889);
    background-color: #fff;
    border: 3px solid rgba(29, 28, 28, 0.7);
    box-shadow: 0 2px 6px rgba(26, 26, 26, 0.999);
    border-radius: 28px;
    opacity: 0;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-size: 38px;
    background-position-x: 98%;
    background-position-y: 5%;
}

.modal:focus,
.modal:hover {
    color: rgb(23, 22, 128);
    text-decoration: none;
    cursor: pointer;
}

/* ------------- modal window for block info --------------------------- */

.modal__info {
    position: relative;
    opacity: 0;
    visibility: hidden;
}

.modal__active {
    opacity: 1;
    visibility: visible;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 35%;
    max-height: calc(70vh - 40px);
    max-width: 460px;
    width: calc(100vw - 40px);
    background-color: #fff;
    border: 3px solid rgba(0, 0, 0, 0.55);
    border-radius: 12px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.33);
}

.modal__close-btn {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 0;
    top: 0;
}

.modal__close-btn:hover {
    cursor: pointer;
}

.modal__img {
    width: 36px;
    height: 36px;
    margin: 6px;
}

.modal__content {
    height: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 22px;
    z-index: 30;
    font-weight: 600;
}

.modal__content::-webkit-scrollbar {
    scroll-margin: 4px;
}

.modal__content::-webkit-scrollbar-track {
    background: linear-gradient(to top, #ebe9e9 0%, rgb(255, 255, 255) 100%);
    border-radius: 100px;
    height: fit-content;
}

.modal__content::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.448);
    border-radius: 100px;
    border: 4px solid rgb(236, 236, 236);
}

.modal__title {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 6px;
}

.modal__title h2 {
    font-family: 'Playfair Display';
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 900;
    font-weight: bold;
    line-height: 100%;
    margin: 0;
}

.modal-wrapper p {
    font-size: 16px;
    margin: 10px 0;
    color: #4a4a4a;
}

.modal__level-content {
    height: 120vh;
    padding-top: 24px;
}

.modal__levelNext {
    border: none;
    background-color: transparent;
    align-items: center;
    background-color: #7c6a6af6;
    border-radius: 6px;
    color: #fff;
    display: inline-flex;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03rem;
    padding: 14px 22px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal__levelNext:hover {
    background-color: #483939;
}

.hint-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 140px;
    padding: 12px;
    background-color: #746767eb;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border: none;
    width: 100px;
    font-size: 16px;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

.checkbox__save {
    margin-top: 14px;
}

.checkbox__title h4 {
    letter-spacing: 0.04rem;
    color: #4a4a4a;
}

.checkbox {
    margin: 18px;
}

.checkbox-item {
    display: flex;
    gap: 18px;
    align-items: center;
    margin: 14px;
    font-size: 22px;
    color: #4a4a4a;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: #fcfff4;
    box-shadow: inset 1px 1px 1px rgb(253, 253, 253), 1.5px 1px 2px rgba(117, 113, 113, 0.5);
}

.checkbox__btn {
    display: flex;
    justify-content: end;
    margin-top: 28px;
}

.checkbox__btn-save {
    display: flex;
    justify-content: center;
    padding: 10px 22px;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #483939;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.checkbox__btn-save:hover {
    color: rgb(0, 0, 0);
    background-color: #d2c4c4;
    box-shadow: inset 1px 1px 3px #4a4a4a;
}